@model IEnumerable<SamuraiStore.Models.Method>

@{
    ViewBag.Title = "Payment Methods";
}

<h2>Payment Methods</h2>

<table>
    <tr>
        <th>
            Token
        </th>
        <th>
            Name
        </th>
        <th>
            Holder's name
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.Token)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.MethodName)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.HolderName)
        </td>
        <td>
            @Html.ActionLink("Edit", "Edit", new { id=item.MethodId }) |
            @Html.ActionLink("Details", "Details", new { id=item.MethodId })
            @*@Html.ActionLink("Delete", "Delete", new { id=item.MethodId })*@
        </td>
    </tr>
}

</table>

<p>
    @Html.ActionLink("Create New", "Create")
</p>
