@model IEnumerable<SamuraiStore.Models.Reserve>

@{
    ViewBag.Title = "Reserves";
}

<h2>Reserves</h2>

@*<p>
    @Html.ActionLink("Create New", "Create")
</p>*@
<table>
    <tr>
        <th>
            Thing
        </th>
        <th>
            Price
        </th>
        <th>
            Reserved At
        </th>
        <th>
            Transaction
        </th>
        <th>
            Paid?
        </th>
        <th>
            Voided?
        </th>
        <th></th>
    </tr>

@foreach (var item in Model)
{
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.Thing.Name)
        </td>
        <td>
            $@Html.DisplayFor(modelItem => item.Thing.Price)
        </td>
        <td>
            @item.CreatedAt.ToString("d-MMM-yyyy HH:mm")
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.TransactionRef)
        </td>
        <td>
            @if (item.IsCaptured) { <span>Yes</span> } else { <span>No</span> }   
        </td>
        <td>
             @if (item.IsVoided) { <span>Yes</span> } else { <span>No</span> }   
        </td>
        <td>
            @if (item.CanBePaid) {
                @Html.ActionLink("Pay", "Pay", new { id=item.ReserveId })
            } else { <span>Pay</span> } |
            @if (item.CanBeVoided) {
                @Html.ActionLink("Void", "Void", new { id = item.ReserveId })
            } else { <span>Void</span> } |
            @Html.ActionLink("Details", "Details", new { id=item.ReserveId })
        </td>
    </tr>
}

</table>
