@model SamuraiStore.Models.Reserve

@{
    ViewBag.Title = "Void transaction";
}

<h2>Void transaction for @Model.Thing.Name ($@Model.Thing.Price)</h2>

@if (ViewBag.Errors != null)
{   
    <h3>Errors:</h3>
    <ul>
    @foreach (Samurai.Message msg in ViewBag.Errors)
    {
        <li>(@msg.Subclass) @msg.Context : @msg.Key</li>
    }
    </ul>
}

<h3>Are you sure you want to void this transaction?</h3>
<fieldset>
    <legend>Reserve</legend>

    <div class="display-label">Thing</div>
    <div class="display-field">
        @Html.DisplayFor(model => model.Thing.Name)
    </div>

    <div class="display-label">Created At</div>
    <div class="display-field">
        @Html.DisplayFor(model => model.CreatedAt)
    </div>

    <div class="display-label">Transaction Ref</div>
    <div class="display-field">
        @Html.DisplayFor(model => model.TransactionRef)
    </div>

    <div class="display-label">Void Ref</div>
    <div class="display-field">
        @Html.DisplayFor(model => model.VoidingRef)
    </div>

    <div class="display-label">Captured?</div>
    <div class="display-field">
        @Html.DisplayFor(model => model.IsCaptured)
    </div>

    <div class="display-label">Voided?</div>
    <div class="display-field">
        @Html.DisplayFor(model => model.IsVoided)
    </div>
</fieldset>
@using (Html.BeginForm()) {
    <p>
        <input type="submit" value="Void" /> |
        @Html.ActionLink("Back to List", "Index")
    </p>
}
