@model SamuraiStore.Models.Order

@{
    ViewBag.Title = "Details";
}

<h2>Details</h2>

<fieldset>
    <legend>Order</legend>

    <div class="display-label">Thing</div>
    <div class="display-field">
        @Html.DisplayFor(model => model.Thing.Name)
    </div>

    <div class="display-label">Created At</div>
    <div class="display-field">
        @Html.DisplayFor(model => model.CreatedAt)
    </div>

    <div class="display-label">Transaction Ref</div>
    <div class="display-field">
        @Html.DisplayFor(model => model.TransactionRef)
    </div>

    <div class="display-label">Credit Ref</div>
    <div class="display-field">
        @Html.DisplayFor(model => model.CreditRef)
    </div>

    <div class="display-label">Void Ref</div>
    <div class="display-field">
        @Html.DisplayFor(model => model.VoidRef)
    </div>

    <div class="display-label">Credited?</div>
    <div class="display-field">
        @Html.DisplayFor(model => model.IsCredited)
    </div>

    <div class="display-label">Voided?</div>
    <div class="display-field">
        @Html.DisplayFor(model => model.IsVoided)
    </div>
</fieldset>
<p>
    @Html.ActionLink("Back to List", "Index")
</p>
