@model IEnumerable<SamuraiStore.Models.Order>

@{
    ViewBag.Title = "Orders";
}

<h2>Orders</h2>

@*<p>
    @Html.ActionLink("Create New", "Create")
</p>*@

<table>
    <tr>
        <th>
            Thing
        </th>
        <th>
            Price
        </th>
        <th>
            Created At
        </th>
        <th>
            Transaction
        </th>        
        <th>
            Credit/Void
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.Thing.Name)
        </td>
        <td>
            $@Html.DisplayFor(modelItem => item.Thing.Price)
        </td>
        <td>
            @item.CreatedAt.ToString("d-MMM-yyyy HH:mm")
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.TransactionRef)
        </td>
        <td>
            @if (item.IsCredited)
            { <span>Credit: (@Html.DisplayFor(modelItem => item.CreditRef))</span> }
            else { if (item.IsVoided)
            { <span>Void: (@Html.DisplayFor(modelItem => item.VoidRef))</span> } else 
            { <span>None</span> } }
        </td>
        <td>
            @if (item.CanBeVoided) {
                @Html.ActionLink("Void", "Void", new { id=item.OrderId })
            } else { <span>Void</span> } |
            @if (item.CanBeCredited) {
                @Html.ActionLink("Credit", "Credit", new { id = item.OrderId })
            } else { <span>Credit</span> } |
            @Html.ActionLink("Details", "Details", new { id=item.OrderId })
        </td>
    </tr>
}

</table>
