@model IEnumerable<SamuraiStore.Models.Order>

@{
    ViewBag.Title = "Orders";
}

<h2>Orders</h2>

@*<p>
    @Html.ActionLink("Create New", "Create")
</p>*@

<table>
    <tr>
        <th>
            Thing
        </th>
        <th>
            Price
        </th>
        <th>
            Created At
        </th>
        <th>
            Transaction
        </th>
        <th>
            Credit
        </th>
        <th>
            Credited?
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.Thing.Name)
        </td>
        <td>
            $@Html.DisplayFor(modelItem => item.Thing.Price)
        </td>
        <td>
            @item.CreatedAt.ToString("d-MMM-yyyy HH:mm")
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.TransactionRef)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.CreditRef)
        </td>
        <td>
            @if (item.IsCredited) { <span>Yes</span> } else { <span>No</span> }   
        </td>
        <td>
            @Html.ActionLink("Details", "Details", new { id=item.OrderId }) |
            @Html.ActionLink("Credit", "Credit", new { id=item.OrderId })   
        </td>
    </tr>
}

</table>
