@model IEnumerable<SamuraiStore.Models.Order>

@{
    ViewBag.Title = "Orders";
}

<h2>Orders</h2>

@*<p>
    @Html.ActionLink("Create New", "Create")
</p>*@

<table>
    <tr>
        <th>
            Thing
        </th>
        <th>
            CreatedAt
        </th>
        <th>
            TransactionRef
        </th>
        <th>
            CreditRef
        </th>
        <th>
            IsCredited
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.Thing.Name)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.CreatedAt)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.TransactionRef)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.CreditRef)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.IsCredited)
        </td>
        <td>
            @Html.ActionLink("Details", "Details", new { id=item.OrderId }) |
            @Html.ActionLink("Credit", "Credit", new { id=item.OrderId })   
        </td>
    </tr>
}

</table>
